<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
	            http://www.springframework.org/schema/aop
        	    http://www.springframework.org/schema/aop/spring-aop.xsd
                http://www.springframework.org/schema/mvc
        	    http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--开启注解扫描器-->
    <context:component-scan base-package="org.anonymous"/>

    <!--视图解析器
        配置了 视图解析器之后: 指定 前/后缀,
        以后 所有 @RequestMapping 注解标注的方法的 返回值(跳转地址) 都可以简写
        eg: "/jsp/demo1.jsp" -> 简化为 "demo1"
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀-->
        <property name="prefix" value="/jsp/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置映射器和适配器: 是对 下面的配置的封装-->
    <mvc:annotation-driven/>





    <!--配置映射关系: web 层和 DispatcherServlet 的关系
       配置之后: 加载 @RequestMapping 注解
            将浏览器的访问 和 方法上的 @RequestMapping 相关联
    -->
   <!-- &lt;!&ndash;映射器&ndash;&gt;
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    &lt;!&ndash;适配器&ndash;&gt;
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
-->
</beans>